torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
optuna==4.2.1
scikit-learn==1.6.1
scipy==1.15.2
numpy==2.2.4
matplotlib==3.10.1
pandas==2.2.2
seaborn==0.13.2
joblib==1.4.2
tqdm==4.67.1
tqdm_joblib==0.0.4
